*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.firstpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 85vh;
    color: rgb(232, 232, 232);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Scroll Snap */
    background: url('jj.jpg') no-repeat center center/cover;
  }

/* section#home{
     height: auto;
    width: 100%;
    display: flex;
    
} */
section#secondpage{
    display: flex;
    margin: 40px;
    margin-left: 190px;
    margin-right: 300px;
    
    
    justify-content:space-evenly;
    width: 70%;
    display: flex;
    /*background-color: yellow;*/
    
}
.view3{
    flex-direction: column;

    margin-left:  300px;
    margin-right: 300px;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#images{
    flex-direction: column;
    
    margin-top: 10px;
    margin-left:  320px;
    margin-right: 250px;
    justify-content: center;
    
}
.view4{
    flex-direction: column;
    margin-top: 0px;
    margin-left:  300px;
    margin-right: 300px;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.view5{
    margin-left:  300px;
    margin-right: 300px;
    justify-content: center;
    padding: 15px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.share_on{
    margin-top: 10px;
    display: flex;
    color: rgb(228, 232, 241);
    margin-left:  50px;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content:center;
    
}
.last{
    margin-top: 150px;
    background-color: red;
}